html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
    color: #666;
    background: #F6F6F6;
    margin:0;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    /* position: relative; */
    font-family: Consolas, 'Courier New', monospace;
    font-size : 14px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.relative {
    position: relative;
}

.over {
    position : absolute;
    top: 0;
    right : 0;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex.between {
    justify-content: space-between;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.principal {
    width: 100vw;
}

.card {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 10px #0000001a;
    border-radius: 10px;
    overflow: hidden;
    transition: all .2s linear;
    width: 500px;

}

.relative img {
    width: 50px;
    margin: 5px;
}

img.mini {
    width: 50px;
}

img.midi{
    width: 100px;
}

.relative>img {
    filter: drop-shadow(1px 1px 0px #00000075);
}

.relative:hover {
    transform: translate3D(0, -1px, 0);
}

.relative:hover div img {
    filter: drop-shadow(1px 1px 0px #0000008e);
}

.relative:active {
    transform: translate3D(0, 1px, 0);
}

.project .card {
    width: 260px;
}

.card:hover {
    box-shadow: 2px 8px 25px #00000026;
    transform: translate3D(0, -2px, 0);
}

/***************
**** TEXT
***************/
p {
    padding: 0 1rem;
}

.card h1 {
    text-align: center;
    padding: 1rem 1rem;
    background: #074170;
    margin: 0 0 0 0;
    font-size: 1rem;
    color: white;
}

.project .card h1 {
    background: #0159a2;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project .card:hover h1,
.project .card:active h1 {
    background: transparent linear-gradient(150deg, #0159a2 40%, #2c88f1 100%) 0 0 no-repeat padding-box;
}

/* #8D3589 */

a {
    text-decoration: none;
    height: 100%;
}

.blue {
    color : #005aa3;
    font-weight: bolder;
}

.gray {
    color: #666;
}
