body {
    position: relative;
    font-family: Consolas, 'Courier New', monospace;
    font-size : 14px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.principal {
    width: 100vw;
}

.card {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 10px #0000001a;
    border-radius: 10px;
    overflow: hidden;
    transition: all .2s linear;
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project .card {
    width: 234px;
}

.card:hover {
    box-shadow: 2px 8px 25px #00000026;
    transform: translate3D(0, -2px, 0);
}

/***************
**** TEXT
***************/
p {
    padding: 0 1rem;
}

.card h1 {
    text-align: center;
    padding: 1rem 1rem;
    background: #074170;
    margin: 0 0 0 0;
    font-size: 1rem;
    color: white;
}

.project .card h1 {
    background: #0159a2;
}

.project .card:hover h1{
    background: transparent linear-gradient(150deg, #0159a2 40%, #8D3589 100%) 0 0 no-repeat padding-box;
}

a {
    color:white;
    text-decoration: none;
}

.blue {
    color : #005aa3;
    font-weight: bolder;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
